[2013-04-29 18:00] bmeyers opened #1 "Diode behavior in PVstring"
PVstring model doesn't allow for a module's diodes to be completely activated. See email sent to Mark M. on 4/28/13.

[2013-05-01 05:10] mikofski opened #2 "multi-threading pvmismatch.pvsystem.PVsystem.calcSystem()"
multi-thread loops in calcSystem/calcStrings and benchmark

[2013-05-01 05:13] #2 closed, assigned to mikofski

[2013-05-02 06:52] #1 closed, assigned to mikofski

[2013-05-02 07:13] mikofski opened #3 "multi-thread calcMod"
- add multi-threading to calcMod to decrease runtime
- benchmark accuracy/consistency with old code
- benchmark speed vs unthreaded

[2013-05-02 07:14] mikofski opened #4 "documentation"
add docstrings using rst so sphinx can autodoc!

[2013-05-03 00:33] mikofski opened #5 "multithreading doesn't work if numstrs = 1"
and does it really work if numstrs > 1

need to match Istring fro first pool.map to pvmods, maybe .squeeze isn't necessary but need some reshape before repeat?

[2013-05-03 09:01] #5 closed, assigned to nobody

[2013-05-03 09:02] #3 closed, assigned to mikofski

[2015-05-06 18:28] bmeyers opened #6 "System setSuns TypeError"
When using the system setSuns method to set the Ee on a whole panel, the Ee must be a sequence, not a float as in the documentation. Example in documentation is given as Ee={3: {8: 0.23, 7: 0.45}}. Must use Ee={3: {8: [0.23], 7: [0.45]}} or Ee={3: {8: (0.23,), 7: (0.45,)}} to allow for list unpacking (or "splat").

[2015-05-06 18:32] bmeyers opened #7 "System setSun: passing multiple values to single module"
Passing multiple values to a single module causes only the first value to be applied to the first cell, and nothing else. Would expect an error or for the second value to apply to the second cell of the module

Example:

In [24]: sys1.setSuns({3: {8: [0.23, 0.5]}})

In [25]: sys1.pvstrs[3].pvmods[8].Ee

array([[ 0.23,  1.  ,  1.  ,  1.  ,  1.  ,  1.  ,  1.  ,  1.  ,  1.  ,
         1.  ,  1.  ,  1

[2015-05-06 18:40] bmeyers opened #8 "Setting multiple modules with same irradiance pattern"
It would be nice to be able to set a range of modules with the same Ee pattern, rather than having to call out each module individually.

[2015-05-15 23:00] bmeyers opened #9 "calcMPP_IscVocFFeff function doesn't calculate Vmp/Imp correctly"
Calculation for Vmp finds the wrong point near reverse bias conditions.

[2015-05-16 08:46] #9 closed, assigned to nobody

[2015-06-05 19:14] mikofski opened #10 "package data is not installed"
need to move everything down one level to include package data.

IE: currently

[code]

proposed

[code]

[2015-06-06 00:40] #10 closed, assigned to mikofski

[2015-09-11 16:10] mikofski opened #11 "remove local versions of pvconst, to make sure that different pvconst can be used"
PVMismatch can use different PVconstants for strings and modules, which in certain situations can provide a system where each string has its own pvconstants or systems can share PVconstants as previously as well. Therefore PVMismatch _CAN_ have modules and strings with different temperatures and cell properties through some very clever use of pvconstants in pvmismatch. See the example below where

[2015-09-11 16:21] mikofski opened #12 "split pvconst into pvcell and configs to facilitate individual cell props"
this is related to #11. If pvconstant is split into a pvcell class and a config class then modules, strings and the system can have any number of combinations of cells, but there are a few properties that are just configuration properties for the entire model, those should go into a new configs object, that is common to all objects. Details to follow

[2015-09-11 16:23] mikofski opened #13 "move pvstr, pvmod and pvsys calcs to combine_parallel and combine_series mixins for cross-tied modules"
in a partial and total cross-tied modules cells may be combined in series _OR_ parallel

[2015-09-11 16:24] mikofski opened #14 "create module inputs to describe cross ties"
allow cross-tied modules to be created. maybe make crosstied module a subclass of pvmodule

[2015-09-16 10:10] #11 closed, assigned to mikofski

[2015-09-16 10:10] #12 closed, assigned to mikofski

[2015-09-16 10:10] #13 closed, assigned to mikofski

[2015-09-16 10:10] #14 closed, assigned to mikofski

[2015-09-17 07:25] #4 closed, assigned to mikofski

[2015-09-17 07:34] mikofski opened #15 "update method for pvmod, pvstring and pvsystem"
- new method that calls `calcmod()`, `calcString()` and `calcSystem()` and updates attributes
- optionally could also set parameters, drilling down, just like SetSuns() does now.
- optionally could have delayed recalculation, if setting many parameters.

[2015-09-17 07:35] mikofski opened #16 "create pvmod attr for pvcell"
- set to None, only used if in a module, used to tell module I'm updated
- ditto for modules to strings and strings to systems

[2015-09-18 19:01] mikofski opened #17 "import * fails"
says there is no parallel-calcs

[2015-09-18 19:04] #17 closed, assigned to mikofski

[2015-09-18 19:31] mikofski opened #19 "change 'circuit' to 'parallel' and value is boolean"
doesn't make sense the way it is, implies if parallel then not series? they are always in series

[2015-09-18 19:32] mikofski opened #20 "change hard coded examples of tct and pct to 6 x 82"
there is no tct96 or pct 96 tetris module ever

[2015-09-18 19:49] mikofski opened #21 "create a contrib folder for examples of cell position patterns"
let's not put hard coded examples of instances of pvmodules into pvmismatch. instead lets create a parallel package called `contrib` inside the top package, `pvmismatch` and parallel to `pvmismatch_lib` that contains contributed code that isn't part of the main toolbox but is still useful enough to be included.

[2015-09-18 19:50] mikofski opened #22 "delete APH from pvcell"
this is legacy code. `Aph` is calculated from short circuit current since 33189813f9033c360de308ce68ee9b795acf60e7

[2015-09-18 21:02] #22 closed, assigned to mikofski

[2015-09-18 23:36] mikofski opened #23 "should it be possible to create standard module using crossties"
If you make a cell position pattern that mimics a standard serpentine module the simulation fails.

[code]

[2015-09-23 22:06] #20 closed, assigned to nzweibaum

[2015-09-23 23:19] mikofski opened #25 "Zener reverse breakdown is not modelled only avalance breakdown"
Current method is to use avalanche breakdown

<img src="http://latex.codecogs.com/png.latex?I_{rbd}=a_{rbd}\frac{V_{diode}}{R_{sh}}\left(1-\frac{V_{diode}}{V_{rbd}}\right)^{-n_{rbd}}" title="avalanche breakdown">

[code]

The proposed method is to add a quadratic term to soften the shoulder of the breakdown like a Zener diode. It's a hybrid approach that should be easy to implement in PVMismatch.

[2015-09-23 23:38] mikofski opened #26 "make flexible breakdown model"
From issue #25:

Currently user can only specify breakdown parameters and use the model in [`pvcell.PVcell()`](../blob/master/pvmismatch/pvmismatch_lib/pvcell.py). Remove these parameters and instead specify some user specified object that has a boilerplate implementation, _ie_: it returns the `Irbd` when called or when its `Irbd()` method is called.

**Decide on any implementation appropriate**.

[2015-09-23 23:41] mikofski opened #27 "implement numexpr to speed up simulations with large arrays of calculation points"
using [numexpr](https://github.com/pydata/numexpr) can speed up calculations for large arrays by 10x.

Other tools:
- [Numba](http://numba.pydata.org/) - uses decorators
- [Theano](http://deeplearning.net/software/theano/) - uses theano function objects

[2015-09-24 20:34] #21 closed, assigned to nzweibaum

[2015-09-24 20:35] #25 closed, assigned to nzweibaum

[2015-09-25 22:57] #19 closed, assigned to nzweibaum

[2015-10-02 17:09] nzweibaum opened #31 "Create a method to calculate IV of a column of cells in a substring"
- Will probably use calcSeries() from pvconstants
- Useful to calculate operating I & V of individual cells and derive dissipated power from reverse biased cells (input to thermal model)

[2015-10-21 23:31] bmeyers opened #32 "Setting module size for traditional SPWR modules"
You used to be able to quickly set the module size from a PVsystem instance (`numberCells=128`, etc.), and you used to be able to quickly see what size module made up a system with `pvsystem.numberCells`. I'm assuming these were removed to allow for the new Tetris configurations, but they were really convenient.

Also, am I understanding the new method correctly that to create a system of 128-cell

[2015-10-23 01:52] #32 closed, assigned to nobody

[2015-12-04 18:27] bmeyers opened #33 "Inconsistency in applying setSuns to entire objects (modules, strings, array)"
Setting all modules in all strings and all modules in a given string to a single effective irradiance value works as indicated by the docstring:

[code]

However, to set all cells in a single module to one irradiance value, you need to wrap the irradiance in a list: `Ee={3: {8: [0.23], 7: [0.45]}}`. This is inconsistent with the array and string methods, and it is not reflected in the documentatio

[2016-06-21 16:40] mikofski opened #34 "use cheap copies with setsuns"
**observed**: calling `setsuns(Ee=x.x)` takes a very long time if the pv system is very large, even if all of the objects in the system are identical.

**proposed**: ~check cell temperatures, and use cheap copies to duplicate cells that are identical, rather than calculating them individually, the same way that pv modules, strings and systems are created.~

The previous proposal (crossed out above

[2016-06-21 16:52] mikofski opened #35 "don't keep copies of identical objects (eg cells)"
**observed**: large systems take up too much system memory

**proposed:** don't make separate copies of objects until absolutely necessary.

instead of making copies and tracking all objects as individuals, just reference the same copy of identical objects. for example: when making a module, rather than copying the cell 96 or 128 times, just reference the same cell until there are differences. Dit

[2016-06-22 20:42] mikofski opened #36 "make sure Vmax for all strings is greater than Vmp of system"
**observed**: if some strings have lower Vmax than others, then linear extrapolation using the last 2 points in the string with the lower Vmax is used which is arbitrary. This is especially an issue if the practical operating point of the system (ie: Vmp) is at a voltage greater than Vmax of any of the strings. Then the current of the low Vmax strings is arbitrarily determined by the linear extrap

[2016-10-11 17:34] #33 closed, assigned to nobody

[2016-12-24 00:13] bmeyers opened #38 "PVconst behavior"
If building a PVsystem from PVcell, PVmodule, and PVstring instances, there is an option for the user to set pvconst each time. If the user does not set the kwarg, the instance of that class defaults to the default PVConstant() instance. This is confusing. For instance, if it set npts=1001 in my creation of my PVcell object, and then pass that object to my PVmodule instantiation and then my PVsyst

[2017-01-12 04:56] mikofski opened #39 "replace pvcell with abstract IV-curve API"
replace pvcell with an IV curve backend API that can be changed to another backend for either 5-parameter model or a "pvsyst" like model.

[2017-01-12 22:10] mikofski opened #40 "tips and tricks section"
There are a few tricks that aren't obvious, so should there be a tips section of the docs?

For example, it is usually faster to create a new `PVsystem` then change every single cell in the system to a new irradiance.

[code]

For example if you are trying to do a full day simulation of a shadow passing over the array, then to set the ambient effective irradiance on the cells at each timestep, you

[2017-01-12 22:31] bmeyers commented on #40
I definitely think so. I actually hadn't even thought of this particular trick. I'll try to keep other tips in mind as I'm continuing to work on ShadeResearch.

[2017-01-12 22:40] mikofski commented on #40
I think we can collect tips on the [wiki](https://github.com/SunPower/PVMismatch/wiki#tips-and-tricks) and transfer the best tricks to the docs with each release.

[2017-01-18 21:26] mikofski opened #41 "serialization and de-serialization methods for module, string and system objects"
a generalized method that converts an object to a string or binary form that can be passed to and from mapping methods.

[2017-01-18 21:26] mikofski commented on #41
This can also be used to save the system state.

[2017-01-18 22:04] wholmgren commented on #41
I want this for pvlib objects too.

[2017-01-18 22:07] mikofski commented on #35
More details and examples:

# caching references

Currently in a module, there is a `pvcell` member that is a list of the cells in that module. The cell number is identified by cell position and its index in the list. If the module has 96 cells, then the list is 96 items long, and each item is a unique reference created by using `copy.copy`.

## caching options
1. One option is very simple, instea

[2017-01-24 01:36] bmeyers commented on #35
I have implemented a solution at the PVmodule level. My solution is:

- Keep a cash of unique PVcell objects for each PVmodule instance
- Add the ability of PVcell objects to output a dictionary that fully defines the cell
- Anytime a cell's irradiance gets changed, check to see if the _new_ cell definition already exists in the list of cashed cells by comparing the dictionaries
- If it already ex

[2017-01-24 01:37] bmeyers commented on #35
You can see my progress by looking at the `better_memory` branch of my fork

[2017-01-24 01:39] mikofski commented on #35
can you open a PR to pvmismatch? you may need to make a fresh clone your entire repo, delete the github version, then fork pvmismatch again and finally push your clone back up to the new fork.

[2017-01-24 01:40] bmeyers commented on #35
Already fixed the fork (my repo points to the main one again). I'll open a PR now and reference this issue. All tests passed, by the way.

[2017-01-24 01:51] mikofski commented on #35
@bmeyers I don't think a lot of this is necessary,see [this comment](https://github.com/bmeyers/PVMismatch/commit/01039227621c2263489545d637b07f7ffada2278#commitcomment-20585370)

Did you get my email regarding this? I would like to adhere to a "light" ethic if possible: _ie_: the smallest changes possible and delegate as much as possible. Is that OK with you? IMO I think we can get the desired me

[2017-01-24 03:29] mikofski commented on #34
Regarding #35, please make sure to look at this issue to because it is coupled with #35

One way to handle seeing multiple cells in Setsuna is to use lists of cells to group them with the same irradiance and tell the object to use the same reference

    obj.setSuns({
        3: {
            4: {
                'Ee': (0.88, 0.75, 0.51),
                'cells': [(0, 2, 12), (3, 5, 15, 29, 77), 1

[2017-01-24 03:59] mikofski commented on #35
@bmeyers re: why I would want to keep the changes simple and not introduce to many new methods and class attributes. Too many changes at once makes the code difficult to comprehend. PVMismatch has IMO an intuitive structure. What we're doing now is a little fancy, so if we can make it easy, then it will be easier to maintain and make other changes in the future. This ethic had really paid off well

[2017-01-24 04:08] bmeyers commented on #35
@mikofski the philosophy  makes perfect sense to me. I'll review the email you sent more closely before continuing on. And I'll definitely plan on moving the "memory optimizer" code into contrib.

[2017-01-24 04:24] bmeyers commented on #34
@mikofski 10-4, will take this all under consideration. Thank you for the feedback today.

[2017-01-24 04:45] mikofski commented on #35
@bmeyers have a look at [this example](https://github.com/SunPower/PVMismatch/compare/master...mikofski:gh34-35) - only 3 one-line changes resolve issue #35

[code]

notice that the pvstring and module hashes are the same for all strings, all modules, etc. ditto for cells

[2017-01-24 05:13] bmeyers commented on #35
well sure, and that's exactly what I did for PVmodule. But then the tests fail because setSuns doesn't work correctly. Which is what i was working on the rest of the day.

[2017-01-24 10:05] mikofski commented on #35
see my next 3 commits, that fixes `setSuns()` or issue #34 - I think that this could be implemented a couple different ways so feel free to experiment around with the best way. I really wanted to figure out a way to use `set(list of objects)` to get the unique objects, but I ended up using the "cache" idea, but just simpler, turns out that `dict.fromkeys(list of objects)` does the same thing as `s

[2017-01-27 06:46] bmeyers opened #44 "Allow user to use connection matrix"
Allow the user to define a system-level, inter-module topology through an arbitrary connection indicator matrix. Allow for:

- PCT
- TCT
- Honeycomb
- Bridge-Link

See, for example:

[1] C. A. Ramos-Paja, J. D. Bastidas, A. J. Saavedra-Montes, F. Guinjoan-Gispert, and M. Goez, “Mathematical model of total cross-tied photovoltaic arrays in mismatching conditions,” 2012 IEEE 4th Colomb. Work. Circui

[2017-02-02 09:37] #34 closed

[2017-02-02 09:37] #35 closed

[2017-02-03 18:38] bmeyers opened #48 "Single cell parameter update method"
There should be a single method that allow for updates to any current and future cell parameters at the system, string, and module level. The method should allow for Ee, Tcell, and other parameters to be passed as nested dictionaries, and all calculations should wait until all new parameters are set. For example, if a particular cell is getting its irradiance, temperature, and shunt resistance val

[2017-02-07 03:59] bmeyers commented on #39
I was just testing the [`onediode`](https://pvlib-python.readthedocs.io/en/latest/generated/pvlib.pvsystem.singlediode.html#pvlib.pvsystem.singlediode) method in `pvlib.pvsystem`, and it doesn't appear to have any reverse bias behavior modeled:

![image](https://cloud.githubusercontent.com/assets/1463184/22677226/e14b7006-eca5-11e6-9cd5-e3d384c2aac9.png)

It seems like we unfortunately can't drop

[2017-02-07 05:04] mikofski commented on #39
Unfortunately no, but I wasn't expecting that they would have reverse bias because it's not part of the DeSoto or 5-parameter model. However it shouldn't be a problem to drop the forward bias part into pvcell and leave the reverse bias alone:

    Icell = Iforward + I reverse

[2017-02-07 05:05] bmeyers commented on #39
I see, that makes sense

[2017-02-08 22:44] bmeyers commented on #41
One issue I came across when implementing this for ShadeResearch was the need to define things at the cell, module, and system level. This assumes that everything is uniform in the state you want to save, and that all you need to capture are:

-  The diode-equation parameters
- The number of points per IV curve
- The module stringing configuration (e.g., `cell_pos`)
- Cell area
- System stringing

[2017-02-10 21:36] mikofski opened #49 "travis should deploy releases to github and pypi"
add a deploy section to the `travis.yml` for [github](https://docs.travis-ci.com/user/deployment/releases/) and for [pypi](https://docs.travis-ci.com/user/deployment/pypi/)

[2017-02-16 00:20] mikofski commented on #49
closed in ee3f31c

[2017-02-16 00:20] #49 closed

[2017-03-17 20:22] mikofski opened #50 "must know pvcell coefficients a priori"
if you don't know the pvcell coefficients you can't use pvmismatch - kind of makes pvmismatch useless :frowning_face:

[2017-03-24 01:15] #50 closed

[2017-03-24 03:07] mikofski commented on #16
related to #15

[2017-08-10 06:39] mikofski opened #52 "use lookup table for 2-diode parameters (a la SAM)"
related to #50 and #51

At PVSC Janine Freeman introduced a great idea to nearly eliminate errors from diode-analog cell models, which was to use a lookup table.

Since we already have the `pvmismatch.contrib.gen_coeffs` methods, all we need is to loop over it so it creates an IEC-61853 table but for Isat1, Isat2, Rs and Rsh instead of Imp, Vmp, Isc, and Voc.

Then we would have to add the interpo

[2017-08-10 06:40] mikofski opened #53 "update docs - contrib packages aren't there"
the `gen_coeffs` and other packages in `contrib` aren't in the documentation.

[2017-08-10 21:44] mikofski commented on #52
see [**Significant Improvement in Module Performance Prediction Accuracy Based on IEC-61853 Data** by Janine Freeman at PVPMC-8](https://www.slideshare.net/sandiaecis/06-20170509-freeman-8th-pvpmc-iec-61853-presentation)

[2017-08-10 22:05] mikofski commented on #53
see [Trello](https://trello.com/c/0asWgNIO)

[2017-08-10 22:06] mikofski commented on #52
see [Trello](https://trello.com/c/qpLucqHp)

[2018-01-04 22:17] mikofski opened #55 "two diode tests failing"
As mentioned in #54, [`test_two_diode.py`](../blob/v3.1.1/pvmismatch/contrib/gen_coeffs/tests/test_two_diode.py) where failing because of changes to SymPy.

[code]

[2018-01-10 01:47] xjianwei520 commented on #52
Dear Mikofski : i saw the fuction about' gen_coeffs.gen_two_diode()',  it can return the cell parameter such as isat1, isat2, rs, rsh. actually, Some R&D Projects also need the cell reversed parameter such as ARBD,BRBD,VRBD,NRBD.  The current packages can solve this problem ?

[2018-01-10 04:29] mikofski commented on #52
@xjianwei520, no, I didn't add methods to fit reverse breakdown parameters, because AFAIK there isn't an IEC standard to test or measure for this, and often there is little or no published data on reverse bias characteristics of cells or modules.

But I agree that we should at least provide some guidelines or rules of thumb, maybe in the documentation or the wiki. Probably we should get a few othe

[2018-01-10 16:46] mikofski opened #57 "band gap is not variable in contrib.gen_coeffs()"
The band gap, `Eg`, is constant in [`diode.py` line 10](../blob/master/pvmismatch/contrib/gen_coeffs/diode.py#L10) but different tech would have a different band gap so it should be a variable.

[2018-01-10 18:19] thunderfish24 commented on #57
I agree. I fit this parameter from a collection of IV curves in my parameter fitting software. Whether this fit values is physically meaningful vs. completely confounded is another another story ;).

[2018-01-10 19:07] mikofski opened #58 "add guidance for fitting reverse bias parameters"
There are some [comments in issue 52](./52#issuecomment-356496646) that there is no guidance or methods to help users determine what reverse bias coefficients to use. Maybe add something to the wiki for now? But there should be something in the [documentation](../tree/master/pvmismatch/docs) maybe, and maybe in [`contrib`](../tree/master/pvmismatch/contrib)

[2018-01-10 19:09] mikofski commented on #57
Thanks @thunderfish24 would you be will to contribute something to the [`contrib.gen_coeffs` package](../tree/master/pvmismatch/contrib/gen_coeffs) ?

[2018-01-11 01:15] xjianwei520 commented on #52
Thanks ,Mark.
 I will try it follow your idea, and i also give you all feedbacks about result whatever good or bad.
hoping the pvmismatch more and more powerful

[2018-01-11 21:40] thunderfish24 commented on #52
What’s your fitting data look like? I have a “global” single diode model
fitting already in production, and I’m always curious to compare fit values
between single and double diode models.

On Wed, Jan 10, 2018 at 19:15 xjianwei520 <notifications@github.com> wrote:

[2018-01-11 21:42] thunderfish24 commented on #57
If I could get compensated for the initial effort to make my diode fitting
public domain, then I would strongly consider it. 🙂

On Wed, Jan 10, 2018 at 13:09 Mark Mikofski <notifications@github.com>
wrote:

[2018-01-16 23:39] mikofski opened #59 "refactor pvcell.PVcell.__setattr__ or constructor to only set Icell, Vcell, and Pcell only once"
The [`pcell.PVcell()` constructor sets `Icell`, `Vcell`, and `Pcell` to `None`](../blob/master/pvmismatch/pvmismatch_lib/pvcell.py#L67-L69) which calls the [`__setattr__()` overload](../blob/master/pvmismatch/pvmismatch_lib/pvcell.py#L78-L90) which calls [`calcCells()`](../blob/master/pvmismatch/pvmismatch_lib/pvcell.py#L157-L178) and sets `Icell`, `Vcell`, and `Pcell` again!

The constructor call

[2018-01-17 01:42] mikofski opened #60 "cache last X calculations, and be smarter about checking cache before recalculating"
This is definitely relevant to #48 and is a spinoff of @bmeyers original cache idea in the rejected PR #42 , and a continuation of the accepted PR #43, that closed the relevant issues #34 and #35 about copies, and of course the ability to delay calculation #59.

The idea is simple, every time you make a calculation in `__setattr__` or in `calcCells()`:

1. check the cache for a similar cell, it's

[2018-01-17 01:47] mikofski commented on #60
@bmeyers check this out, you can use a unique hash for cells as the keys in a dictionary of cells that are cached. This makes returning memoized cells zeroth order because they are actually stored by their unique hash, and because the same key can't be stored twice, you can never have a duplicate in the cache.

You make the unique hash by appending hex strings of the hash of each value to make a s

[2018-01-17 22:14] mikofski commented on #38
Also, if one sets `npts` after `PVconstants` is created, it's effect is counter intuitive, because it doesn't update  `self.pts`, `self.Imod_negpts`, `self.negpts`, and `self.Imod_pts` which are used to combine curves. **This is kinda of a big deal actually!** Because there's actually nothing stopping a user from doing this, I just thought of trying it myself right now!

An easy fix, I think, is t

[2018-01-17 22:19] mikofski commented on #38
also regarding the original issue, there was some code in [`pvstring.py`](../blob/master/pvmismatch/pvmismatch_lib/pvstring.py#L34-L38) that _did_ reset `pvconst` to be the same for all cells and modules in the string, but I changed it in #61 to raise an exception if `pvconst` is not identical, because setting `pvconst` would trigger a recalc - true, we could now set the `_calc_now` flag to `False

[2018-01-18 01:24] #55 closed

[2018-02-05 19:50] #59 closed

[2018-02-06 00:08] #38 closed

[2018-02-06 06:41] mikofski opened #63 "update GITHUB_OAUTH_TOKEN in .travis.yml"
This token [`GITHUB_OAUTH_TOKEN`](../blob/master/.travis.yml#L16) is probably no good anymore for uploading Python wheels and source distros to GitHub anymore. You'll have to generate a new one, or ask @cedricleroy to do it and either add it directly to the travis build settings as a secret environment variable, or use their CLI to create a secure encrypted token that you add to `.travis.yml` - re

[2018-02-06 07:01] mikofski commented on #38
this still seems to be an issue for me:
☹️

[code]

[2018-02-06 07:14] mikofski commented on #38
yay! it's working, but make sure you have the correct version, the newest, v3.2.1
🎉 😀 🌈 🦄
[code]

[2018-02-07 22:53] mikofski opened #65 "Temperature dependence of Voc and Vmp are wrong"
**Problem**:
A plot of Voc vs. cell temperature shows decreasing below about zero degrees.
![voc-vs-t-is-wrong](https://user-images.githubusercontent.com/1385621/35945738-0c423642-0c16-11e8-86ff-712a931e12c7.png)

Should look like this
![voc-correct](https://user-images.githubusercontent.com/1385621/35945826-5668b390-0c16-11e8-80ff-3c04b53321cf.png)

Possibly the **lack**  of temperature dependenc

[2018-02-07 23:34] chetan201 commented on #65
![vocvmp_vs_tcell](https://user-images.githubusercontent.com/19290930/35947359-5f483624-0c1c-11e8-864e-cf12d20e7f38.png)
After adding Isat2 dependance same as Isat1

[2018-02-07 23:59] mikofski commented on #65
Wow! looks great!!! You are awesome!!! 🎉  🏅  🌈 🦄

[2018-02-08 00:35] mikofski commented on #65
The generated coefficients are a much better fit to the IV curves now at all irradiance and temperatures!
![pvmismatch_gen-coeffs_isat2fix-improvements](https://user-images.githubusercontent.com/1385621/35949137-dea4d280-0c24-11e8-8f25-a79135e1ff04.png)

[2018-02-08 00:39] mikofski commented on #65
@BenBourne , also, I am now able to fit the **entire IEC-61853 test matrix** and the results are very good, even better than the STC only generated coefficients!
![pvmismatch_gen-coeffs-w-iec61853_isat2fix-improvements](https://user-images.githubusercontent.com/1385621/35949268-7ff1ad34-0c25-11e8-838e-07b7048e64fa.png)

[2018-02-08 01:05] BenBourne commented on #65
Nice work, Chetan!

[2018-02-20 19:56] chetan201 commented on #65
This issue is addressed in v4.0 but needs further work to match close with the data sheet coefficients. Going to leave the issue open till we have validation work complete on this issue.

[2018-02-22 01:19] rayhickey commented on #65
On the issue of MPP vs. temperature, @mikofski any idea why this behavior is observed?
![e20-435_i-v_temp](https://user-images.githubusercontent.com/31972773/36514811-3eafa59a-172b-11e8-83c7-6dd16179fff9.png)

[2018-02-22 07:09] mikofski commented on #65
Hi @rayhickey, Sorry, I'm not sure what I'm seeing. Can you please give me more detail? Thanks! -m

[2018-02-22 18:39] rayhickey commented on #65
These are maximum power points on 2-Diode modeled I-V curves from PVMismatch at steps of 1 degree C. I'm not sure if this is the expected behavior of I-V curves as a function of temperature, but I_mp follows a cyclical trend that spans every ~11 degrees, followed by a large discontinuity. V_mp has similar discontinuities, though still decreases monotonically. Does this seem like it would have a ph

[2018-02-22 20:47] mikofski commented on #65
@rayhickey how are you obtaining Imp and Vmp?

I think what's happening is that you are using the [`PVsystem`](../blob/master/pvmismatch/pvmismatch_lib/pvsystem.py#L19) method [`calcMPP_IscVocFFeff`](../blob/master/pvmismatch/pvmismatch_lib/pvsystem.py#L95) and [`pvconst.npts`](../blob/master/pvmismatch/pvmismatch_lib/pvconstants.py#L77) is too small, the [default is 101](../blob/master/pvmismatch

[2018-02-22 21:51] sdavila604 opened #66 "PVModule IV curve has no knees"
Hi!

I am simulating shading on a STD72 module to test microinverter MPPT tracking.  I am passing the PVmodule.setSuns function a np.ndarray with values between 0.2 and 1.0 as a shade passes over the module.  However, the IV curve produced does not seem to have the "knees" that we would expect.

I am attaching an mp4 file of the animation, as well as the Python script I am using.  I apologize for

[2018-02-22 23:34] chetan201 commented on #66
@sdavila604
I am not sure I follow you about the "knee" of the IV curve. I do see it in the animation you sent. Limiting the axes to [0,Isc] and [0,Voc] would show it better.

[2018-02-23 00:14] rayhickey commented on #65
@mikofski Nice fix, it looks like the linear fit actually handles the discontinuity better than cubic interpolation. This is still just with 101 points.
![imp_temp_mod](https://user-images.githubusercontent.com/31972773/36571412-6181eee6-17eb-11e8-875a-561385cc8f99.png)

[2018-02-23 00:19] mikofski commented on #65
![KABOOM](https://therongolianstar.files.wordpress.com/2012/05/kaboom2.jpeg)

[2018-02-23 15:38] sdavila604 commented on #66
Thank you for your very prompt response!
What we see on real panels when we shade sections of them is several bends (which we call "knees").  These knees result from the bypass diodes bypassing sections of the panel that are no longer generating current.  The microinverter MPPT tracking algorithm must hunt for the best "knee" to maximize power extraction.  Here is an image that shows what the IV c

[2018-02-23 18:00] mikofski commented on #66
you mean like this:
![knees](https://user-images.githubusercontent.com/1385621/36608925-3014f688-1880-11e8-8be4-13fba594795c.png)
[code]

[2018-02-23 18:04] mikofski commented on #66
or this:
![more_knees](https://user-images.githubusercontent.com/1385621/36609188-e0fbee20-1880-11e8-9f9e-5a09d9b24b83.png)
[code]

[2018-02-23 18:32] mikofski commented on #66
@sdavila604 I think what your image is showing is that there is:
* a substring that has almost zero shade, and hence can carry nearly 6 amps
* an because it carries that current nearly up to 30 volts or half the panel, then it **must be the center substring**
* a side substring that has 75% shade on enough cells that if they were in reverse bias, they would trigger a bypass diode, typically 2 to 3

[2018-02-23 19:29] sdavila604 commented on #66
Thank you!

I ran your code and, sure enough, I get the same curve you show.

Just to make sure I am interpreting this correctly, you have cells 0,1,2 getting 0.75 suns and cells 92,93,94 getting 0.25 suns.  Correct?  I will see if I can get the same using my code and let you know.

Thanks!

[2018-02-23 20:05] sdavila604 commented on #66
So, this is the closest I can get to duplicating your "setSuns" with my code:

Cell idx: 0 Suns: 0.752121440271867
Cell idx: 1 Suns: 0.7480000000000002
Cell idx: 2 Suns: 0.762620925038382
Cell idx: 3 Suns: 1.0
Cell idx: 4 Suns: 1.0
...
Cell idx: 90 Suns: 1.0
Cell idx: 91 Suns: 1.0
Cell idx: 92 Suns: 0.2462432599770664
Cell idx: 93 Suns: 0.2462432599770663
Cell idx: 94 Suns: 0.24624325997706706
Cel

[2018-02-23 22:10] sdavila604 commented on #66
The problem was my plot!  For some reason in pyplot if you only update the y coordinates it gets confused.

Thank you for your help and sorry for the distraction.

[panel_animation.zip](https://github.com/SunPower/PVMismatch/files/1753316/panel_animation.zip)

[2018-02-24 05:33] mikofski commented on #66
🎉 @sdavila604 does this resolve your conflict? Will you close this issue? Thanks

[2018-02-24 05:35] mikofski commented on #65
@rayhickey when you submit your PR please make sure to add your name to [`AUTHORS`](https://github.com/SunPower/PVMismatch/blob/master/AUTHORS) - ditto for you too @chetan201

[2018-02-26 15:41] sdavila604 commented on #66
It does.  Thank you.

[2018-02-26 15:41] #66 closed

[2018-02-27 02:13] chetan201 commented on #63
I think this is now taken care of. Closing..

[2018-02-27 02:13] #63 closed

[2018-03-05 21:24] sdavila604 opened #69 "Bypass diodes"
--

[2018-03-05 21:37] chetan201 commented on #69
Sergio,
I am going to blank this issue out since this is a public repository. Let's continue this discussion over email.

[2018-03-05 21:37] #69 closed

[2018-03-07 00:24] chetan201 opened #70 "Make bypass diodes configurable in pvmodule class"
Enable user defined values of Vrbd for each individual bypass diode

[2018-03-07 00:26] chetan201 opened #71 "Enable bypass diodes in pvmodule class to be non-ideal diodes"
Enable non ideality to bypass diodes in the pvmodule class

[2018-03-11 03:27] mikofski commented on #65
Addressed in #67 and #68

[2018-03-12 05:05] mikofski commented on #70
@chetan201 Just to clarify, [`Vrbd`](../blob/master/pvmismatch/pvmismatch_lib/pvcell.py#L65) is the _reverse bias breakdown voltage_ of the PV cell; it is unrelated to the [_bypass diode_ trigger voltage, `Vbypass`,](../blob/master/pvmismatch/pvmismatch_lib/pvmodule.py#L197) which is an attribute of the PV module.

[2018-03-12 05:11] mikofski commented on #71
You can use [Shockley's equation](https://en.wikipedia.org/wiki/Shockley_diode_equation) for this. The values of the bypass diodes that were in use at SunPower from 2010 to 2015 or so are in [PVLife](https://github.com/SunPower/PVLife). If you PM me I can give you more info. Basically all you need is the saturation current, `I_sat` so `Ibypass = I_sat * (exp(q*Vbypass / n / kB / T_K) - 1.0).

But

[2018-03-21 23:27] chetan201 commented on #70
@mikofski
that's correct! It must have slipped my mind while typing it in.

[2018-03-21 23:28] chetan201 commented on #65
PR related to this merged. Closing...

[2018-03-21 23:28] #65 closed

[2018-04-02 01:32] xjianwei520 commented on #71
Dear mikofski :
I see the updated version about pvmismatch .  where  i can find  all updated information about version v4.0

[2018-04-03 00:36] mikofski commented on #71
Hi @xjianwei520 you should probably ask @chetan201 he is the current owner of PVMismatch. I don't work at @sunpower anymore.

@chetan201 do you plan on updating the docs and release a new version with the latest changes from @rayhickey ?

Also, maybe there should be a google group or someplace on the wiki that's more appropriate for user comments or questions such as this?

[2018-04-05 16:33] mikofski commented on #71
You're probably using the _module_ `Rsh` which is typically in the 100's. Whereas PVMismatch uses the _cell_ `Rsh` which is typically around 10&Ohms;

[2018-04-06 01:06] chetan201 commented on #71
Hi @xjianwei520, we agree regarding @mikofski 's feedback. (Thanks @mikofski !)

As for the release 4.0, I haven't had a chance to update the documentation yet but the key difference is to the Temperature-Voltage characteristics. We implemented temperature dependance to Isat2 value in the 2 diode equivalent model at the heart of PVMismatch. See below -
![temp_dependance](https://user-images.github

[2018-04-22 19:17] #36 closed, assigned to nobody

[2018-05-04 17:46] mikofski opened #74 "improve irradiance response"
# Problem:

When fitting parameters there seems to be a systematic bias with irradiance, typically increasing. This may be caused by PVMismatch's constant shunt resistance. Other models such as SAM/DeSoto 5-parameter or PVSyst have a shunt resistance that is a function of irradiance.

## Shunt resistance
[PVPVMC on De Soto “Five-Parameter” Module Model](https://pvpmc.sandia.gov/modeling-steps/2-dc

[2018-05-04 18:07] mikofski opened #75 "improve temperature response"
# problem

despite the improvements made by improvements to `Isat2` by @chetan201 in #64, there is still a systematic bias with temperature.

# proposal

Other models have an additional temperature dependence on either band gap (DeSoto 5-parameter model) or ideality factor (PVSyst). IMHO I think that temperature dependence of band gap is makes sense because some materials have indirect band gaps w

[2018-05-08 01:54] chetan201 opened #76 "PR #73 breaks temperature dependance"
What's expected - (reverting back to pr #68
<img width="296" alt="image" src="https://user-images.githubusercontent.com/19290930/39733472-ae630026-5227-11e8-9925-a1a413572f36.png">

What's observed in pr #73  -
<img width="303" alt="image" src="https://user-images.githubusercontent.com/19290930/39733511-e9fcb474-5227-11e8-836c-a672423d8a33.png">

[2018-05-08 01:56] chetan201 commented on #76
@mikofski
off the top of your head, do you know why this might be happening?
Shall I revert the master to PR #68 meanwhile?

[2018-05-09 05:17] mikofski commented on #76
Another fix idea, would be to just pick a 4th quadrant current, like -10A, and just go up to that value always. I'll try to implement one of these two approaches and put in a new PR asap. Until then, yes, I think you would be better reverting to 4943742f68a1819d258bf930d89c4b05f06b7630

sorry!

[2018-05-09 17:55] #76 closed

[2018-05-09 20:25] mikofski opened #78 "update release in main pvmismatch dunder module"
The value of [`__release__`](../blob/master/pvmismatch/__init__.py#L83) is still set to `'Kenya Ketchup'`, but the current release is now `'Mint Mojito'`.

[2018-05-09 20:32] mikofski opened #79 "add HOWTO build/deploy docs and other developer sections to docs"
# problem
there is no developer section in the docs, contributors don't know how to update, build, or deploy docs, any arbitrary conventions or traditions that have been established are undocumented.

# proposal
add a **Developer** section to the docs that has HOWTO sections on:
* building/deploying docs
* conventions
* CI setup
* overall codebase structure/philosophy

[2018-05-09 20:44] mikofski commented on #79
see [NREL/SAM/CONTRIBUTION.md](../../../NREL/SAM/blob/develop/CONTRIBUTING.md) for some ideas, especially the [resources for using Git/GH section](../../../NREL/SAM/blob/develop/CONTRIBUTING.md#resources-for-learning-github)

[2018-05-09 20:52] mikofski commented on #53
@chetan201 any updates on this issue? it's a real bummer that the contrib packages are in the documentation, especially `gen_coeffs`. Sorry I meant to add them, but I guess I forgot.

Someone will need to
* add a file to `pvmismatch/docs` called `contributed.rst`
* add headers and directives like

      # Contributed
      .. automodule:: pvmismatch.contrib

      # Generating Coefficients
      .

[2018-05-09 21:03] mikofski opened #80 "Igen is redundant"
# problem
There is both an [`Igen()` method in `pvconstants`](../blob/master/pvmismatch/pvmismatch_lib/pvconstants.py#L214-L215) and an [`Igen` property in `pvcell`](../blob/master/pvmismatch/pvmismatch_lib/pvcell.py#L198-L207)

# proposal
use the formula in the method _as_ the property, but change `Isc0` to just `Isc`, _or_  just get rid of the formula in `pvconstants`, AFAIK, it' not used anywhe

[2018-05-13 22:53] chetan201 commented on #78
thanks for pointing this out! I looked for this for quite some time ;)

[2018-05-13 22:53] #78 closed

[2018-05-28 07:14] xjianwei520 opened #81 "Can PVmismatch package applied to Bifacial Modules ?"
Dear Sir :
Recently, I try to apply PVmismatch Tool to Bifacial Modules Project By paralleling two cell which seeing as Front cell and Rear cell . actually , they are some one cell .  i got result , but VOC is not normal as  below

![ss](https://user-images.githubusercontent.com/32535389/40601907-73e7d47c-6289-11e8-9ba7-ece0e847680b.png)

I want to know that can the PVmismatch tool update to suppo

[2018-06-05 00:32] chetan201 commented on #81
Hi @xjianwei520,
Currently there is no specific feature for bi facial modules. But, it should be possible to approximate them using existing PVMismatch framework.
The plots aren't well visible here but at a first thought, with reduction in irradiance, the voltage reduces and that's what you are seeing.

A simple approximation would be to scale the irradiance (suns) by the factor or extra gain beca

[2018-06-05 00:59] anomam commented on #81
Hi @xjianwei520 ,
Are you creating two different cells for front and back because you need different cell parameters for the two sides of the cell? Otherwise, I think that @chetan201 's approach would be worth trying.
By the way, I haven't seen many papers on this type of problem yet. Do you have any recommendation for a paper on this that we could use to improve PVMismatch @xjianwei520 ?

[2018-06-07 02:54] xjianwei520 commented on #81
Hi, @anomam 👍
Yes, I used the different cells for front and back by different cell parameters from testing data in lab.
i saw a paper about using this way. maybe not more.
<Investigations on albedo dependency of bifiacial PV yield >
<Modeling and analysis of a bifacial grid-connected photovoltaic system>

[2018-06-07 02:56] xjianwei520 commented on #81
1. Investigations on albedo dependency of bifacial pv yield
2. Modeling and analysis of  a bifacial grid-connected photovoltatic system

[2018-06-20 08:45] anomam commented on #81
Sorry for the delayed reply @xjianwei520 , and thanks for your messages!
Unfortunately we don't have such a model in PVMismatch to my knowledge.
@amir-asgharzadeh , do you know by any chance how national labs handle bifacial cell & module modeling when using different model parameters for front and back surfaces?

[2018-06-20 20:50] amir-asgharzadeh commented on #81
To the best of my knowledge, there are some electrical models that you can use to model bifacial cells/modules given the front and back irradiance. For example, you can use the weighted 2-diode model which uses a 2-diode model for both front and rear IV characteristics of the module. These parameters can be different for front and back sides. Then, the IV curve for the module output is obtained fr

[2018-06-23 07:54] mikofski opened #82 "typo in pvstrings "pvcons" prevents user from entering pvmod"
There's a typo in [`pvmismatch.pvmismatch_lib.pvstrings`](../blob/master/pvmismatch/pvmismatch_lib/pvstring.py#L36) which says `pvcons` instead of `pvconst`, this prevernts the user from providing a `PVmodule` instance, because it fails that try-except .

Addressed in #83 but there's no test yet

[2018-07-03 17:23] #82 closed

[2018-07-23 20:10] tamirlance opened #84 "PVMismatch only using default 96 cell config"
Does anyone else have a problem with PVMismatch overriding a pvmodule object witht he default STD96 one (using PVMismatch 4.0)?

The code below results in power for a 96 cell and not 128 cell module.  pvm is correct but when it gets to pvs the pvm gets overwritten with STD96 module.

from pvmismatch import PVconstants
from pvmismatch import *

def get_pvs(irr,temp,tech='E'):
    pvconstants = PVco

[2018-07-23 20:19] chetan201 commented on #84
Tamir,
Change
pvs = pvsystem.PVsystem(pvconst=pvconstants, pvmods=pvm, numberStrs=1, numberMods=1)
to
pvs = pvsystem.PVsystem(pvconst=pvconstants, pvmods=**_[pvm]_**, numberStrs=1, numberMods=1)

To get around this, I always use pass lists of objects rather than relying on PVMismatch using one template object for all. This could be improved though. I will make this an issue to be handled in the fu

[2018-07-23 21:40] mikofski commented on #84
Hi @tamirlance and @chetan201 , this bad behavior was because of a typo bug in `pvstring.py`  which was fixed in #83 sorry! If I use the latest master, your code works.

[code]

[2018-07-23 21:52] mikofski commented on #84
@chetan201 and @tamirlance , I'm pretty sure you can close this, since #83 fixed it

[2018-07-31 06:15] mikofski commented on #84
@tamirlance and @chetan201 - do you guys agree that the issue with making systems given a `PVmodule` was caused by the bug from #82, that #83 fixes? Do you think this issue still needs to remain open?

[2018-07-31 18:08] tamirlance commented on #84
Is there an official release with this fix that I can test?  I’ll take your word for it that #83 fixes this.  But I also found a new maybe unrelated bug

I have this new line in my code:

pvs = pvsystem.PVsystem(pvconst=pvconstants, pvmods=(pvm,)*nmods, numberStrs=1, numberMods=nmods) #Create a string with the number of modules specified

where nmods is a scalar for number of modules in the string

[2018-08-02 00:57] mikofski commented on #84
@tamirlance you can use [pip in any Python to do an install straight from GitHub](https://pip.pypa.io/en/stable/reference/pip_install/#git):

    $ pip install git+https://github.com/SunPower/PVMismatch#egg=PVMismatch

[The new bug in your comment](#issuecomment-409315552) refers to the exact same bug as what is described in #82 and fixed in #83. Basically what is happening is that since the attem

[2018-08-14 05:03] chetan201 commented on #84
@mikofski
thanks for clarifying this.

A release is certainly overdue for PVMismatch. I will try to shoot for an early Sep release with the bypass diodes configurability.

[2018-08-14 05:03] #84 closed

[2018-08-14 05:09] chetan201 opened #85 "Make PVMismatch Python 3 compatible"
2020 isn't too far. We need to bring PVMismatch into Python 3 world.

[2018-08-14 05:57] mikofski commented on #85
Done already. PVMismatch has been Python 3 compatible since #54, Travis CI already checks for Python 3 compatibility with every push to master and every PR, and universal py2-py3 wheels are built on every release, so IMHO you can close this issue. But you may want to consider ending support for Python-2 eventually. See
https://github.com/SunPower/PVMismatch/pull/54

[2018-08-14 06:06] chetan201 commented on #85
haha! that's funny considering I approved the merge of that PR ;)
Thanks for reminding me @mikofski !

[2018-08-14 06:06] #85 closed

[2018-08-14 06:10] mikofski opened #86 "ENH: PERF: calculate multiple calls simultaneously instead of looking"
**Problem**: currently cells are calculated one at a time in a long time or lazily as needed. This works fine if only young a few cells, but if a large area has a very large number of different cells then it is inefficient, and slow

**Proposal**: turn off cell calculations be setting `__calc_now__=False` and wait until all the cell parameters are entered, then use numpy array broadcasting to calc

[2018-08-14 06:20] mikofski opened #87 "ENH: Q: pick larger pmax?"
**problem**: when interpolating for pmax, sometimes the interpolated value is *smaller* than the max!

**question**: Should we always chose the larger of the two values: `np.maximum(interpolated_value, max_value)`?

See https://github.com/SunPower/PVMismatch/commit/4943742f68a1819d258bf930d89c4b05f06b7630#r29806503

[2018-09-17 18:20] chetan201 opened #88 "Make PVMismatch work with all the modules in the Sandia/CEC database"
This is a broad direction we'd like to take PVMismatch to. As far as I know, this hasn't been tried.

The goal would be to make PVMismatch being able to generate PVcell objects from CEC/Sandia database used in PV modeling community.

The ```gen_coeff``` method under contrib needs to be tested for goodness of fit for the entire database of the modules.

[2018-09-18 15:11] thunderfish24 commented on #88
I have a plan to implement model comparison metrics with automatic model selection at pv-fit.com. I would also like to offer some sort of model discrepancy metric to alert users that the model might be significantly wrong. There are other issues, such as normalizing the metrics to the current level and noise level in the data. I would very much like to help establish some commonly accepted metrics

[2018-09-18 21:41] mikofski commented on #88
IMHO you should focus on IEC81653 as the standard set of conditions, and the module characterization, then all model specific characterizations derive from that

[2018-09-19 01:47] thunderfish24 commented on #88
@chetan201 There is also http://pvmodel.umh.es

Also, would you say that you are looking to somehow validate models under mismatched conditions too? (Pardon my ignorance of what this actually entails for PVMismatch.)

[2018-09-22 15:23] mikofski opened #90 "Remove rsh = -dV/dI @ Isc constraint in gen_coeffs"
I have used this constraint successfully for years, but it's time to let this go

1. It is too restrictive. It fits well SunPower modules, but not other modules and also not other irradiance conditions
2. Other fitting algorithms do not use it although some do, maybe in the docs or wiki we can do a review. SAM does not use this constraint, instead they use the point at short circuit
3. There is on

[2018-09-23 03:36] mikofski commented on #81
considering Rhonda Bailey just did this at the [2018 NREL BifiPV workshop](http://bifipv-workshop.com/index.php?id=denver-2018-program) I think you can close this issue now, right?

[2018-09-23 13:37] thunderfish24 commented on #88
One measure of goodness-of-fit (or lack of model discrepancy) that I use for diode models is the residuals of the sum of currents at the high-voltage diode node in the equivalent circuit model. Via Kirchhoff's Current Law and the DC model assumptions, this sum should be zero for every noise-free I-V data point. Here is a figure for a single-diode model (SDM) fit and a double-diode model (DDM) fit

[2018-09-24 05:54] mikofski opened #92 "normalize residuals in contrib_gencoeffs to help solver with poor initial guesses"
relevant to #88, currently the `gen_coeffs` solver is very sensitive to initial guess, and so any non sunpower module is hard to solve for. when using PVLife we never had this problem, but in PVLife, all of the parameters were scaled to values between 1 and zero, this helps the solver.

EG: use
[code]

where `_char` means a "characteristic" value for the class of pv device being fit.

[2018-09-24 14:45] thunderfish24 commented on #88
@mikofski Does @cwhanse follow this repo?

Cliff: If you see this, then I think it might be good to dust of that model fitting inter-comparison study you did a while back. I think two general categories of test problems would be useful: (1) Fitting to single I-V curves from the IEC matrix of I-V curves with the "standard" SDM or DDM equation and noise in I and V channels, and (2) Fitting to the wh

[2018-09-24 17:51] cwhanse commented on #88
I follow it now 😊

That inter-comparison wasn’t completed due to project funding being redirected.  I have thought for quite a while that, for algorithm validation, there is a need for benchmark problems with known solutions to test algorithms.  Something similar to https://sparse.tamu.edu/.

Knowing that an algorithm can recover known parameters is a prerequisite to judging that the algorithm’s s

[2018-09-27 16:31] chetan201 commented on #88
@thunderfish24
I meant from the perspective of being able to match IEC matrix results as @mikofski  pointed out. I think if there is good fit, that is a great step in itself.

[2018-09-27 18:04] thunderfish24 commented on #88
@chetan201 I am working on an update to PVfit’s fitting algorithm because of issues my current solver stumbles on with the double-diode model. Based on the changes, I am ready to revisit fitting to a sparse IEC matrix, i.e., fitting a full temperature and irradiance dependent performance model having only the Isc, Imp, Vmp, and Voc points.

@cwhanse @mikofski Can you verify that the spectrum in th

[2018-09-27 18:49] cwhanse commented on #88
Depends on how the curves were measured.  From recollection, IEC61853 does not specify equipment or precise conditions beyond temperature and irradiance values.  It is still important to ask how the irradiance is measured, what controls or calibration are used for the lighting, how temperature is imposed and measured, etc.

[2018-09-28 03:02] thunderfish24 commented on #74
@mikofski Have you ever seen evidence that this change in shunt resistance is actually an irradiance phenomenon rather than a temperature phenomenon?

I have been fitting many curves in the mPERT outdoor datasets, and it's hard to say what the root cause of the change in shunt resistance is, because the temperature and irradiance are strongly correlated positively in these datasets.

Perhaps there

[2018-09-28 04:02] thunderfish24 commented on #88
@cwhanse Right. That's why above I said "I think (2) actually would have a lot of technical issues to sort through", where (2) refers to "Fitting to the whole set of IEC matrix of I-V curves, and this could include only using the "sparse" data, i.e., just the Isc, Pmp, and Voc points." For example, PVfit prefers to use "uncorrected" I-V-F-T curve data that are readily available from indoor calibra

[2018-09-28 15:10] cwhanse commented on #88
Checked my copy of IEC61853-1, the intent is that the measurements reflect "AM1.5 global" spectrum from IEC60904-3.

IEC61853-1 requires class BBB or better simulator, and allows for outdoor IV measurements. It points to IEC60904-7 for adjusting for spectral mismatch between module and irradiance device, and presumably between irradiance and normative spectrum. But like many of these standards, th

[2018-09-29 21:30] mikofski commented on #74
Both the PVSyst and DeSoto/CEC models have an irradiance dependence for shunt resistance although I don't what the physical explanation is. Kyumin didn't discuss it at all in his presentations, only the reporter dependence on series resistance do to metallization. I agree there is a strong correlation between

[2018-10-10 18:42] mikofski opened #94 "DOC: BUG: contrib docs not rendering correctly"
see [here](https://sunpower.github.io/PVMismatch/api/contrib.html)

[2018-10-12 21:51] mikofski commented on #94
also please take a look at [these comments](../pull/93#issuecomment-428687209) and the suggestions I made after you closed #72

[2018-10-22 20:51] chetan201 commented on #81
@xjianwei520
Would you be able to email me your email address? I would like to gather some feedback regarding your usage of PVMismatch for some documentation.  Thanks!
Chetan.

[2018-11-27 03:02] chetan201 commented on #94
@mikofski
Thanks for bringing this to my attention, I will regenerate the docs and try again. Not sure why this would happen though!

[2019-02-22 03:34] mikofski opened #96 "Isat2 is not a valid parameter for PVcell"
In [tiled reference module](https://github.com/SunPower/PVMismatch/blob/master/pvmismatch/contrib/tiled_reference_module.py)

See [LGTM](https://lgtm.com/projects/g/SunPower/PVMismatch/alerts?mode=list) errors.

[2019-02-22 03:54] mikofski commented on #48
Check out what [LGTM](https://lgtm.com/projects/g/SunPower/PVMismatch/alerts?mode=list) complains about this

[2019-04-10 19:01] chetan201 commented on #96
@mikofski
We added temperature dependance for Isat2. So, the old Isat2 is now Isat2_T0

[2019-04-12 18:14] #96 closed

[2019-05-07 00:27] chetan201 commented on #87
by max, do you mean max of the power array @mikofski?

[2019-05-07 01:06] chetan201 opened #99 "remove dependance on pvlib"
pvlib is imported in `contrib/gen_coeffs`. I think for core functionality to work, we should make the dependencies as minimal as possible.

[2019-05-11 21:23] chetan201 commented on #94
issue persists in 4.1 - needs closer investigation

[2019-05-13 16:13] markcampanelli commented on #88
@cwhanse @mikofski @chetan201 Is there any chance that we could discuss establishing "standard" goodness-of-fit metrics on Wednesday afternoon at the performance Workshop? I think that it might be possible to define inter-comparison metrics for diode-based DC models based on Kirchoff's current conservation law. Of course, there may be other priorities that I'm not aware of. It's sad that DoE appar

[2019-05-13 16:23] cwhanse commented on #88
I won't be at the workshop Wednesday. Let me know if you are able to meet.

[2019-05-14 23:33] tamirlance opened #101 "PVMismatch Capability for CellPos of Uneven parallel substrings"
Is it possible to have multiple substrings in parallel in a module where the substrings have different number of cells in series?  For example

Imagine a 59 cell module which is made of 6 strings in parallel.  5 strings have 10 cells in series and the 6th one has 9.

I think there should be a way to do this with crosstied cell position structures but not sure exactly how to execute

[2019-05-15 17:19] mikofski commented on #53
closed by #89 in commit e733ebbc8ada517f36da9bccf6569f6e3a55fb4c

[2019-05-15 17:19] #53 closed

[2019-05-15 17:21] mikofski commented on #94
@chetan201 I think the issue is simple, you need to use git on your computer to add the generated contrib files to the repository after you copy them to the top level docs/ folder, then, commit and push. I'll open a pr now

[2019-05-15 20:57] chetan201 opened #103 "add methods for accessing MPP (Vmp, Imp) for lower abstractions (PVCell, PVModule, PVstring)"
need to add a method that works universally for getting Pmp, Vmp, Imp for all abstractions.
It exists for PVSystem level but not lower.

[2019-05-15 21:04] #94 closed

[2019-05-16 16:35] chetan201 commented on #88
@markcampanelli Sorry just seeing your comment here. But glad we had a chance to touch base briefly. I would like to continue the discussion and plan to look at the mPERT data towards goodness of fit.  (@mikofski 's suggestion )
@cwhanse sorry to hear that DOE hasn't furthered funding to this topic. In my opinion, the impact of gaining accuracy here is really big.

[2019-05-17 17:28] mikofski commented on #101
If the substrings were in parallel, then AFAIK this would cause harmful mismatch, so IMO I don't think a manufacturer would make a panel like this, unless those 9 cells were different (different voltage) than the other cells.

But if they were in series then that would be okay, and I think that the current PVMismatch bypass diode settings let you select the number of cells in each substring alread

[2019-05-17 17:33] tamirlance commented on #101
Thanks Mark.  For sure this would not be for an intentional design.  It would help us model what happens when cells are shorted and not contributing to the circuit.  I guess this would be a new feature request - to handle non-rectangular configurations.  Right now we are trying to do a  workaround by modelling the shorted cell using the parameters available in PVMismatch (i.e. Isat1, Isat2, Rsh, R

[2019-05-17 22:12] mikofski commented on #101
so this is already possible to model in pvmismatch as it is right now, you basically want to get no voltage response at any current, so you can carry the module's current with zero or no voltage drop:
1. create a standard 60 cell module
2. set that one cell irradiance close to zero (turns `Iph` to zero) and copies (memoizes) that cell
3. set that one cell `Isc0_T0` close to zero
4. set that one ce

[2019-05-17 22:37] mikofski commented on #101
@chetan201

[2019-05-17 22:54] tamirlance commented on #101
Thanks Mark - this makes sense.  I wouldn't have expected that shorting one cell would have had such a dramatic impact on the power.  Shouldn't you just lose the power of the one cell - assuming you are in an all series circuit?  It looks like the diode is kicking in here which indicates reverse bias activation of the cell.

[2019-05-18 01:50] mikofski commented on #101
I saw that too,  you may need to fool around with it, looking at that one cell,  it looks like I set the resistance so high that it can't carry any current,  so perhaps try again with a more reasonable resistance and that should fix it. I spent too much time on this, but it was fun although perhaps you can take our from here now that you understand how to set the cell properties using `update` and

[2019-05-20 21:57] chetan201 commented on #101
@mikofski
Thank you so much for your guidance here!

[2019-06-18 07:47] mikofski commented on #81
@chetan201 can't this issue be closed? I think Rhonda and Silvana already presented on this using pvmismatch.

[2019-07-09 19:03] #81 closed

[2019-07-25 12:53] adambgnr opened #107 "PV system layout and cell irradinace input/output via xls"
It is fun to experiment with shading cells in PVMismatch and see, how different patterns affect the power output. On the other hand, it is not easy to set specific shade patterns on the system manually and be reassured that the system layout looks as intended, especially for new users. I was looking for a tool, that can do this and is: lightweight, accessible and easy to use. To me Excel or one of

[2019-08-08 09:20] mikofski commented on #107
Hi @adambgnr, perhaps consider trying the [module mismatch simulator](../blob/master/pvmismatch/contrib/module_mismatch_simulator.py) in `contrib` developed by @bmeyers

![image](https://user-images.githubusercontent.com/1385621/62691177-0cbeba00-b9c6-11e9-87d9-df0fb7f4e721.png)

[2019-08-08 09:22] mikofski commented on #107
https://gitlab.tue.nl/bp-tue/pvmismatchxlsio

Looks great!

Yes I think so. I wonder what @chetan201 thinks? Would you consider adding this to `contrib` or just keep it separate but referenced in the PVMismatch documentation?

[2019-08-09 09:54] adambgnr commented on #107
I would be happy to contribute it to `contrib`.

[2019-08-09 12:00] adambgnr commented on #107
This is very useful. I haven't stumbled upon this while looking trough the repository. I could look into adding the functionality of indicating activated bypass-diodes to the excel interface as well.

[2019-08-09 15:50] bmeyers commented on #107
@adambgnr Thanks for your interest! The module mismatch simulator does indicate bypass-diode activation as well as reverse biasing of cells (for technologies where that is possible). Bypass diode activation outlines the cells in blue and reverse biasing outlines the cells in red.

[2019-08-10 05:47] mikofski commented on #107
Excellent! Can you open a pull request?

[2019-08-12 13:22] adambgnr commented on #107
I have made the pull request. Let me know if you would like to change something in the TODO list.

[2019-09-08 08:41] mdwasimatiq opened #109 "Error while running PVMismatch"

[2019-09-08 21:42] mikofski commented on #109
@mdwasimatiq what's the error?

[2019-09-10 15:54] adambgnr opened #110 ""Resolution" of the I-V plots made with plotSys() changes with cell temperature"
If I set the cell temperatures high, then the "resolution" of the I-V and Power plots made with plotSys() decreases:
![systems_with_different_temps](https://user-images.githubusercontent.com/30896066/64632154-d88d4d80-d3f8-11e9-9335-5b2bec1dde0a.PNG)
These 3 models have a uniform 1 suns of irradiance on them. The only difference is the cell temperatures indicated with colors.

[2019-09-10 18:38] mikofski commented on #110
Hi @adambgnr

I have reproduced this issue, and I think I've traced the cause, but I'm still working on it.

In the meantime, there is a workaround. You can increase the resolution by creating a custom `PVconstants` instance with `npts=1000`

[code]
![Figure_5](https://user-images.githubusercontent.com/1385621/64640724-6fd5af00-d3bf-11e9-8d82-e90fc335bb0a.png)

[2019-09-10 19:02] mdwasimatiq opened #111 "error while using function call for PV MISMATCH"
I Have bifacial radiance data in form of excel sheet generated from bifacial radiance software.
I tried to import this data into PVMismatch using function call to find mismatch losses.
Unfortunately...it is showing following error in ipython console:

**ValueError: cannot reshape array of size 0 into shape (0,newaxis)**

Does anyone knows what this error means....and how it can be rectified??

**T

[2019-09-10 19:03] mikofski commented on #110
I traced the issue to [`pvconstants.calcSeries()`](../blob/master/pvmismatch/pvmismatch_lib/pvconstants.py#L121) specifically the lines that set the currents to interpolate voltage at - the minimum current in this example is HUGE and I think it skews the interpolation.

https://github.com/SunPower/PVMismatch/blob/faca92f7d6036aca2564907224a8de5e3ad9e38a/pvmismatch/pvmismatch_lib/pvconstants.py#L13

[2019-09-10 19:37] mikofski commented on #110
I can confirm that Imin is the culprit. If I simple set Imin to zero, then the issue is resolved for the specific example I used in this issue, but I wonder if there are any edge cases I need to consider?
![pvmismatch_gh110_Figure_1](https://user-images.githubusercontent.com/1385621/64643351-02c51800-d3c5-11e9-96a0-257861fa66f1.png)

OK, I have talked to the master (@jdnewmil) and he reminded me o

[2019-09-10 22:36] mikofski commented on #109
@mdwasimatiq can you please close this issue in favor of #111

[2019-09-10 22:48] mikofski commented on #111
Hi @mdwasimatiq

Thanks for posting your issue, and for providing the code and error traceback. From what I see, the issue is occuring in [bifacial-radiance](../../../NREL/bifacial_radiance) in [`load.py` on line 357 in `deepcleanResults`](../../../NREL/bifacial_radiance/blob/master/bifacial_radiance/load.py#L357):
[code]

That error:

It usually means a broadcasting error - or NumPy and SciPy wer

[2019-09-11 00:08] mikofski commented on #110
I have a PR ready, but didn't have a chance to push it yet, in case anyone is looking at this, I'll push it in a few hours

[2019-09-14 00:26] mikofski opened #113 "improve cell pattern documentation especially for cross ties"
I had to reteach myself what was going on with the cell pattern used for `cell_pos` because it wasn't immediately obvious to me. The docstring for `cell_pos` is ok, but a visualization would help more, and the main point is that a "crosstie" refers to the node before the indexed cell to the _next_ column of the module. This means that a crosstie in the last column is meaningless. However, TCT depe

[2019-09-16 14:22] #109 closed

[2019-09-16 14:23] mdwasimatiq commented on #109
refer to issue #111

[2019-09-22 06:27] mdwasimatiq commented on #111
Thank you @mikofski for your explanation...
Actually iam new to all this and I dont have any idea how to use %pdb. I would like to know why it is necessary to put a breakpoint in my code.

Also i want to know "value of x_0 or panelB['Wm2Front']" is referring to what in this case? Is this referring to the column 'Wm2Front' in my testfolder? If its so, then its not empty...there are nine values belo

[2019-09-22 08:52] mikofski commented on #111
Hi @mdwasimatiq,

Sorry, in a nutshell, **you've posted your question in the _wrong_ repository**. Your heading says, "error while using function call for PV MISMATCH" but there is no call to PVMismatch in your code. Instead I see that you are importing and calling `bifacial_radiance` and that the exception is being raised by [`bifacial_radiance` in `load.py` on line 357 in the function `deepclean

[2019-09-23 16:31] shirubana commented on #111
@mdwasimatiq, @cdeline @mikofski
I was sure I repied to this on 9/11, not sure why it didn't show up. Here is my answer again:

Hi,

We majorly updated the development branch last week and I think we were planning on doing a release that will improve the analysis.py functions for mismatch and the interaction with PVMismatch majorly. That being said, I don’t think the load function itself changed.

[2019-10-29 21:40] cwhanse opened #114 "Files missing from contrib.gen_coeffs?"
`example.py` has references to `gen_coeffs.PVMODULES`, `gen_coeffs.gen_two_diode`, and other `gen_xxx` functions.  Am I missing something, or is PVMismatch missing something?

[2019-10-29 22:12] cwhanse opened #115 "Development plan for PVMismatch?"
Opening a very general issue to discuss work that could be relevant to this project.

I have a need to compute IV curves taking into account various external influences (all modeled): soiling, shading, interconnect resistance, cell-to-cell variations e.g. cracking, and others.  To accomplish this it appears I would need to make substantial changes and additions. Some of the external influences can

[2019-10-30 01:32] mikofski commented on #114
They're here https://github.com/SunPower/PVMismatch/blob/master/pvmismatch/contrib/gen_coeffs/__init__.py

[2019-10-30 06:47] mikofski commented on #115
Hi Cliff, I'm in support of making these changes. I also think #39 is relevant.
ICYMI: @chetan201 and @cedricleroy

[2019-10-31 14:50] cwhanse commented on #114
Thanks. Is it typical to put code in the __init__.py file?  I didn't think to look there.

[2019-10-31 16:31] mikofski commented on #114
Sorry, I'm not sure what's Pythonic. I think it's okay if they're constants and methods that apply to the entire sub-package, but I may be going rogue. I've learned a lot since PVMismatch was started like 7 years ago, so maybe I wouldn't do that again. It just irks me that the dunder module has to be there, but is just empty doing nothing, seems like a waste, so I usually try to use it somehow, bu

[2019-10-31 16:40] cwhanse commented on #114
Neither am I.  "wrong" is a strong word.

Since you brought up python conventions, what is the appetite for migrating towards PEP8? e.g. function names from capital letters to lower case, etc.

[2019-10-31 18:32] mikofski commented on #114
Ugh, so many conflicts. I think this is a @chetan201 question, but IMO we should make this code [black](https://black.readthedocs.io/en/stable/), even if it has to go through deprecations or break code. Probably shouldn't be too painful since there are probably so few users.

[2019-10-31 19:05] cwhanse commented on #114
If it's OK to really depart from the current release, my project would support an overhaul of PVMismatch. Just tossing the idea out there. In the end our projects need a computational engine for mismatched IV curve calculations, that interfaces readily with pvlib, and which will persist for a long time (we'll re-use it).

[2019-10-31 23:02] #110 closed

[2019-11-02 17:56] chetan201 commented on #115
Hi @cwhanse @mikofski
I think that's a great idea and I have considered it many times for variety of reasons. The only issue would be to make the changes in a way that retain the existing 2 diode model as-is for legacy compatibility. A lot of users (including us at SunPower) have tools based on the current implementation and it'd be too disruptive to revisit them.

Do you already have a WIP fork o

[2019-11-02 18:07] chetan201 commented on #111
Seems like this question is resolved, closing the issue.

[2019-11-02 18:07] #111 closed

[2019-11-02 23:10] mikofski commented on #115
My suggestion in #39 was to keep the same (or similar) interface, but make `pvcell` an argument that defaults to the pvlib python `singlediode`, but any class with the same (or newly specified) interface could also be used, For example, the existing 2-diode model or the DeSoto or CEC or 6-parameter model could be used.

[2019-11-02 23:13] mikofski commented on #115
One problem that @bmeyers found when he started working on #39 was that pvlib python doesn't have an expression for reverse bias. PVMismatch currently assumes a modified version of avalanche breakdown, but I think this should also be abstracted, and opened up to alternate expressions, such as a Zener breakdown model

[2019-11-04 15:38] cwhanse commented on #115
Got it.

I have a fork which has no work in it (yet).

[2019-11-04 15:42] cwhanse commented on #115
@mikofski are you thinking to separate the IV curve calculation into two functions: forward and reverse bias?

[2019-11-04 22:00] mikofski commented on #115
No, I think it's best to include the reverse bias in the same equation as the forward - perhaps we could do this in [`pvlib.singlediode.bishop88`](https://pvlib-python.readthedocs.io/en/latest/generated/pvlib.singlediode.bishop88.html) the same way we incorporated the PVsyst-thin-film-recombination-current.

There equations are in the docstring in the example below, and represent [the 2nd order av

[2019-11-04 22:29] cwhanse commented on #115
I think we're saying the same thing: the currents are additive, so we can calculate `i_rbd` and the other currents separately then add them. It may provide flexibility to implement the reverse bias current calculation in it's own function. The Bishop technique is quite useful here to avoid having to align voltages, since all equations for current can be expressed in terms of the diode voltage.

[2019-11-06 16:54] chetan201 commented on #107
PR merged

[2019-11-06 16:54] #107 closed

[2019-11-27 21:19] cwhanse commented on #115
Proceeding in my fork:
- added `PVCell` properties `MODEL` one of `2diode` (default, current behavior), `desoto` or `pvsyst`
- added N1 and N2 for the ideality factors (default to 1.0 and 2.0, respectively). Adding N1 opens possibility for `desoto` and `pvsyst` single diode models
- added MU_GAMMA (temp. co. for N1 in pvsyst model) and DEG_DT (temp. co. for Eg in desoto model)

All proceeding fine

[2019-11-27 21:43] cwhanse commented on #115
Next issue: `PVcell.Rsh` assumes a value that is constant over irradiance and temperature. For either desoto or pvsyst, the value depends on irradiance. An attribute is needed to contain the values calculated from Ee. If I maintain the current API, that attribute is Not `PVcell.Rsh`.

I'd prefer to change `PVcell.Rsh` to `PVcell.Rsh_STC` which frees up `PVcell.Rsh` to be a `Property`. `PVcell._Rsh

[2019-11-28 00:40] mikofski commented on #115
yes, agreed, please break the api. You can follow the same pattern as for `Isat2fix` in #64 I think. Basically replace `Rsh` everywhere with `Rsh0` and then create a new property `Rsh` that implements the temperature dependent behavior. I think `Isat1` and `Isc0` also have similar patterns.

Sorry I haven't been more proactive on this. Thank you so much for driving this forward. I wish I could con

[2019-11-28 08:23] mikofski commented on #115
Hi Cliff,

The estimate Voc method is similar to the [`estimate_voc`](https://github.com/pvlib/pvlib-python/blob/febc343a59c7019c5b78737d3a264b35619cf482/pvlib/singlediode.py#L32) in `pvlib.singlediode`. They follow the same assumption, let `Rsh -> Inf` and `Rs -> 0`.

You're right about`Voc` it only gets calculated for the system in [`pvsystem.calcMPP_IscVocFFeff()`](https://github.com/SunPower/P

[2019-12-10 20:51] mikofski opened #118 "[ENH] model half cells"
AFAIK there isn't a canonically accepted method to model half-cell modules in PVMismatch. I think it's possible to model a half cell by creating a total cross-tied module with 3 subblocks and 2 substrings of cells each, but it would require some mental accounting to determine the actual location of each cell when applying irradiance and temperature. Since PVmismatch always organizes cells into mod

[2019-12-11 00:18] mikofski commented on #114
Hi Cliff, maybe change the title of this issue to, "Move code from __init__.py, use better name" or perhaps consider closing it?

[2019-12-11 15:27] #114 closed

[2019-12-13 21:35] chetan201 commented on #115
@cwhanse and @mikofski
I think we are ok with breaking the API to introduce Rsh Irradiance dependance. Is there a way to keep it backward compatible? (I know I didn't do it for Isat2 fix! :/ ) If not, let's warn the user for these major API changes so that they don't waste time figuring out why the legacy code doesn't work with new stuff.
Thanks!

[2019-12-13 21:54] mikofski commented on #115
Another approach that would not break compatibility is to create an abstract class the implements the same interface, then any model could supplied. But this would require changes to `PBmodule`, PVstring`, and `PVsystem` for example [`setSuns`](https://sunpower.github.io/PVMismatch/api/pvmodule.html#pvmismatch.pvmismatch_lib.pvmodule.PVmodule.setSuns), [`calcMod](https://sunpower.github.io/PVMisma

[2019-12-13 22:24] cwhanse commented on #115
The current 2-diode model is still available, with changes to some attribute and property names. In this sense it's backward compatible.

If by warn you mean issue a runtime warning if, for example, a user sets or references the old `Rsh` attribute, I don't know how that would work. The better approach (if all these changes are accepted) would be to bump to v5.0 and tell users in release notes.

B

[2020-03-20 14:37] sivasembian opened #119 "The pvconst parameter is different for PV modules even though they are created in exactly same way."
PV1 = pvmodule.PVmodule()
PV2 = pvmodule.PVmodule()
PV1.pvconst == PV2.pvconst

Ans -> False

pvconst= pvconstants.PVconstants(npts=101)
PV1 = pvmodule.PVmodule(pvconst=pvconst)
PV2 = pvmodule.PVmodule(pvconst=pvconst)
PV1.pvconst == PV2.pvconst

Ans -> True

Why do I need to assign the pvconst parameters to each module to ensure their similarity? Why are the default values not working as they sho

[2020-03-24 17:00] a-karanth opened #120 "cell pattern interpretation for total cross ties"
I am trying to build a 16-cell module with a total cross tie connection in a 4x4 layout, such that there is a bypass diode across two rows. The desired layout is shown in Figure 1. In this definition, each block represents a cell, and 8 cells together form a substring in the module.
![Figure1](https://user-images.githubusercontent.com/60980802/77455197-d66d6800-6df9-11ea-9f44-1beafbdca7b9.jpg)

I

[2020-03-24 17:33] mikofski commented on #120
Yes

[2020-04-01 03:08] kanderso-nrel opened #121 "[ENH] avoid redundant PVcell property calls"
I've been running some hundreds of millions of iterations of pvmismatch calculations and am interested in optimizing for calculation speed.  I noticed that some of the PVcell property methods get called many times for each `calcCell()` invocation, and it seems to me that all but one of each is redundant.  For the test script

[code]
here is the profiler results for `master`:

![image](https://user

[2020-04-27 17:33] a-karanth opened #122 "CIGS cells under partial shading - difference with experimental results"
I am trying to simulate thin film CIGS cells in a 24x4 layout under partial shading. They are to be connected in series parallel (SP) as 4 strings of 24 cells and in total cross tied (TCT) configurations. For the shading pattern I am simulating, I also have experimental I-V curves for the same configurations. The cell in the code has been defined based on the cells used during experimentation. The

[2020-05-02 20:15] mikofski commented on #122
First, thank you for trying PVMismatch! Second, I am sorry that the cell-pattern is so hopelessly confusing. It really needs a better API! See #113, #118, and #120 .

Third, I don't know if this matters, but I believe your series parallel string may not have the correct cell pattern. From the attachment, `shade_query.txt` there is:
[code]
this yields:
[code]
which is a 12(substring) x 2(column per

[2020-05-02 21:38] mikofski commented on #122
Looking through the rest, I made a few changes, but unfortunately, I think I get the same result as what you originally got:

<details>

[code]
</details>
![shade_query](https://user-images.githubusercontent.com/1385621/80892894-8bf5cb80-8c82-11ea-826e-a7f5d605c61b.png)

[2020-05-03 00:46] mikofski commented on #122
I've been thinking about this, and I had the following thoughts.

1. due to the shading pattern, but the PCT and TCT modules should have identical response.
2. a simple analog to both modules would be a 2-cells-in-series model with one cell shaded.
3. To me it looks like PVMismatch is modeling this 2-cells-in-series simple analog correctly
4. The experimental measurements do not seem consistent wi

[2020-05-08 19:37] a-karanth commented on #122
Hi @mikofski,
Thank you for your response and the suggestions you made.
I did not mention in my original note that bypass diodes are connected across every two cells since they are CIGS cells. So that makes it - one bypass diode across every two cells in each string in the series parallel connection, and one bypass diode across every two rows in the total cross tight connection. You initial repres

[2020-05-09 20:10] mikofski commented on #122
@a-karanth Your new results look great! There are some small differences still so there may still be room for improvement, but still very impressive. Do you plan to publish these results? Also if you're concerns/questions have been satisfied, then you might consider closing this issue. Thanks!

[2020-05-10 17:07] kanderso-nrel opened #124 "pvlib compat with contrib.gen_coeffs.gen_iec_61853_from_sapm"
pvlib 0.7.0 changed the sapm irradiance input from suns to W/m2 (https://pvlib-python.readthedocs.io/en/stable/whatsnew.html#v0-7-0-december-18-2019) and running `contrib/gen_coeffs/example.py` with pvlib >=0.7.0 fails as a result.

Relevant line of code: https://github.com/SunPower/PVMismatch/blob/master/pvmismatch/contrib/gen_coeffs/__init__.py#L27

[2020-05-13 13:18] a-karanth commented on #122
Thank you. I am working on this for my thesis which will be publicly available in the TU Eindhoven library. As for publication, I am not yet sure about that.

[2020-05-13 13:18] #122 closed

[2020-05-13 13:19] #120 closed

[2020-05-19 17:33] mikofski opened #125 "boltzmann has wrong units in pvconst"
https://github.com/SunPower/PVMismatch/blob/793f6fbc91f0a55cfec7f5861ce4e0acd8b8e5e1/pvmismatch/pvmismatch_lib/pvconstants.py#L72

[2020-05-20 18:18] #125 closed

[2020-06-01 21:24] jalderman9 commented on #118
@mikofski I'm brand new to pvmismatch and this is the exact module architecture I'd like to model.   I'm in the process of trying wrap my head around the various cellpos patterns.  You mentioned that it should be possible to build this module using the current module object builders.  Can you provide any guidance on how I might do that?

[2020-06-02 01:18] mikofski commented on #118
For a 144-halfcell module with 3 bypass diodes, similar to the standard 72-cell/3-bypass module.

[code]
It's not ideal because the indices no longer conform to a Cartesian coordinate system. The idea being that the upper left corner is the 0th index cell, then counting indices down to the bottom of the column, then continuing to count indices at the top of the next column, and so on. Instead `hal

[2020-06-02 01:34] jalderman9 commented on #118
Brilliant, thanks!

[2020-06-06 17:18] mikofski commented on #118
@chetan201 you might want to label this as a good first issue, the solution is nearly in this thread, it just needs the indices reordered, while keeping the other dictionary and list items exactly the same.

@jalderman9 are you working on a publication? Perhaps you can cite PVMismatch? Thx. Also feel free to submit a PR for this issue if you have the bandwidth

[2020-06-06 17:29] mikofski commented on #113
The Excel visualizations like in #118 and elsewhere are also useful, maybe these could be automatically created, or something similar

[2020-06-17 18:50] chetan201 opened #128 "Need a developer's guide"
We need a developer's guide for PVMM.
Off the top of my head,
1- guidance for keeping up to date requirements.txt file
2- guidance for tests coverage
3- guidance for folder structure and where new contributions should end up in

[2020-06-25 15:04] akarakishKWS opened #129 "PVcell.calcVcell and PVmodule.calcCell do not return the same results"
Hello all!

I've noticed that the `calcVcell` method from the PVCell class does not yield the same result as the `calcCell` method from the PVModule class.

Here is the result I get from the following snippet of code:

![error](https://user-images.githubusercontent.com/67427024/85744819-78586580-b705-11ea-9620-07f215b83c54.png)

[code]

As you can see, I think we should expect the two figures to b

[2020-06-26 09:28] mikofski commented on #129
@akarakishKWS thanks for using PVM. The search functions in pvcell (`calcVcell` & `calcIcell`) don't include the reverse bias breakdown current, because they're only used to find Voc & Isc exactly when generating coefficients:

https://github.com/SunPower/PVMismatch/blob/e733ebbc8ada517f36da9bccf6569f6e3a55fb4c/pvmismatch/contrib/gen_coeffs/example.py#L79

https://github.com/SunPower/PVMismatch/bl

[2020-06-30 13:30] akarakishKWS commented on #129
@mikofski thanks for your prompt reply.
I understand now, I only will use ```pvcell.calcCell```.

I was doing some tests on different configurations, to see if I'll get the same results as the main methods. I started from a 'cell' level tests to 'pv system' level tests.

Thanks again!

[2020-06-30 16:02] mikofski commented on #129
@akarakishKWS sounds good. I can't wait to see the results of your tests. If you're happy with this answer can you please close this issue? Thanks!

[2020-07-03 08:23] akarakishKWS commented on #129
@mikofski Great ! Thanks again for your prompt replies.

[2020-07-03 08:23] #129 closed

[2020-07-10 17:12] akarakishKWS opened #130 ".PAN file parameters"
Hello all,

Has anyone tried to initialize a PVcell using the paramaters from a .PAN file ?
I am having an issue with that matter.

Thanks !

[2020-07-10 17:27] mikofski commented on #130
Sorry, it will be hard. You will need to regenerate them using `gen_coeffs` in `pvm.contrib` after using pvlib or pvsyst to output a matrix of iv curves. That would be a great contribution of your interested. If you look at `contrib`, I think there's already an example that uses the Sandia model (aka: `sapm`) to output iv curves and then generates coefficients for PVM

[2020-07-10 19:39] cwhanse commented on #130
The parameters in a .PAN file are for PVsyst's single diode model for the IV curve, and are for a module, not a cell. PVMismatch uses a 2-diode model with different irradiance and temperature dependences. As @mikofski suggests, you could use the parameters in the .PAN file to calculate module IV curves (pvlib-python could help there), scale the IV curve down to a cell, then get parameters for PVMi

[2020-07-13 12:39] akarakishKWS commented on #130
Hello all,

Thank you for your replies.

At the beginning I tried ````get_coeffs``` but it doesn't always converge. For the same modules it converges for some classes and not the other (cf. any module datasheet with multiple nominal power).

However, I found a way to make it converge. The method ```get_coeffs``` uses an optimization algorithm and it takes the ```PVcell``` default coefficients as i

[2020-07-13 19:34] mikofski commented on #130
This does make a lot of sense, and is exactly what I would recommend. The solver is the SciPy Newton implementation which is prone to issues if it is too far from the final solution, so it's a Catch-22 of sorts. There may be better ways to estimate the initial guess, but your solution seems to work for now. If you're satisfied, can you close this issue? thanks!

[2020-07-15 09:43] #130 closed

[2020-07-26 22:49] mikofski opened #131 "instantiating pvsys, if pvmods given but not pvconst, then modules pvconst is different from strings and pvsys"
https://github.com/SunPower/PVMismatch/blob/3f88910dd718b393234bb10b27c5426439d63a29/pvmismatch/pvmismatch_lib/pvsystem.py#L39-L45

should we check modules first and then copy pvconst from there? Which takes precedence?
[code]

related issues:
* #119
* #38
* #62

**not** related:
* #12
* #11

[2020-10-03 20:55] abooda1981 opened #132 "Some rookie issues; need help figuring out the documentation"
Hello; thanks for this wonderful library, it's incredibly useful from what I can see. Thanks especially to @mikofski for suggesting I look into it for my issue trying to work with partial shading and then calculate the heating.

I've been building "randomised" (it's a bit more complicated than that, but that's another story) shading patterns which are in the shape of a 12 X 6 grid (a data frame; 1

[2020-10-03 22:55] mikofski commented on #132
Thanks for trying PVMismatch. I agree, the documentation needs improvement. `Psys` is an undocumented attribute of `pvsystem.PVsystem` that gives you the system power as a function of `Vsys`. Use `ploySys()` to see the full power vs voltage curve. Can you create an issue describing the need to add these attributes to the docs?

Can you provide more info on your use case? I know it has to do with h

[2020-10-04 00:34] abooda1981 commented on #132
Thanks, I will do as you suggest and open an issue about the documentation and the need for descriptions about the Psys and so on.

With regards to my usage case: I want to model a single module of 72 cells in total, which are divided into 6 strings/substrings of 12 cells each. It builds on the following more or less: https://www.mdpi.com/1996-1073/11/1/250 (although this paper uses a 60-cell modu

[2020-10-04 03:34] abooda1981 opened #133 "Create documentation on Psys: System power as a function of voltage"
As suggested by @mikofski: please consider creating documentation for the Psys attribute of the PVsys. At the moment, it would not be clear at all to a novice user what it is meant to do and may be confused, for example, for the power of each individual cell or something.

[2020-10-05 01:29] abooda1981 commented on #132
Hello. I think I ought to close this as I have been looking through some of the documentation and what I'm looking for does seem to be in there, just deeply buried.

Thanks again.

[2020-10-05 01:29] #132 closed

[2020-10-05 21:39] mikofski commented on #133
related to #132

[2020-10-06 02:58] abooda1981 opened #134 "Trying to iterate a module to create a list of photogenerated currents"
Hello all. I hope nobody minds my using this space to raise an issue. I want to automate the process of calculating the power losses due to partial shading. As a stepping stone, I have the code below, which I think should be fairly self explanatory. It copies a single module; makes a fairly arbitrary shading pattern, and then places the value of the photogenerated current in the appropriate index

[2020-10-06 10:30] adambgnr commented on #134
Hi @abooda1981 ,

Setting the cell irradiance one by one can be a bit tricky in PVMismatch. Instead, I recommend to set the irradiance values for the entire module in one go, like this:

[code]
Btw PVMismatch has a contrib, wich with you can draw the shading and temperature patterns for your PV system in excel and import them to simulate in PVMismatch (I adapted the above code from there). You can

[2020-10-07 17:23] abooda1981 commented on #134
Hello, and thanks @adambgnr ! Sorry I ought to have gotten back yesterday but got caught up in something else. Your code suggestion does indeed work although it is a bit more complex than expected.

I will close this now as your solution works.

[2020-10-07 17:23] #134 closed

[2020-10-09 05:26] mikofski opened #135 "create a google group, discourse, or other forum for users to ask questions"
Currently if users have a usage question their only option is to create an issue. This creates a barrier to free exchange of ideas, as new users may feel their questions don't warrant an issue. A google group, discourse, or php forum/bulletin board would alleviate this.

[2020-10-09 21:34] kanderso-nrel commented on #135
FYI: pvmismatch has a small but nonzero presence on stackoverflow: https://stackoverflow.com/search?q=pvmismatch

No comment from me on whether that's better or worse than a google group.

[2020-11-06 21:04] chetan201 commented on #135
that's really great.
I will add a note regarding that on the landing page and request users to tag pvmismatch.

[2020-11-22 03:11] abooda1981 commented on #135
A Google users group would be awesome!

[2020-11-22 03:48] abooda1981 opened #137 "Just making sure I'm not barking up the wrong tree ..."
Hello all. I've received a lot of help from @mikofski and @adambgnr for which I'm very grateful. I will need to run this kind of calculation for roughly ~ 1 year worth of data, I just wanted to make sure this isn't some weird mistake on my part. My codes below should be more or less self explanatory, but I will also offer some commentary.

FWIW (and I don't think it changes much), I'm using Python

[2020-11-23 18:46] mikofski commented on #137
Hi @abooda1981 ,

If these are currents in a single PV module in which all cells are in series (as in a standard Si module) then there seems to me to be something fishy going on. **AFAIK _all currents_ should be _identical_ at a given module operating point.** Without seeing what Python code you are using, it would be difficult to trouble shoot. Sorry.

Also as [Kevin commented](https://github.com

[2020-11-23 19:16] abooda1981 commented on #137
Thanks @mikofski for your response. Actually, the module contains 10 series-connected groups. Perhaps the following codes might clear things up.

The following is the code I use to draw the PV module pattern. This is from a previous discussion with @adambgnr

[code]

The next bit of code is the function which I access in R, which takes a module with the given structure and sets the shading for eac

[2020-11-23 22:57] adambgnr commented on #137
Hi @abooda1981 ,
I think you are doing everything right, except that the "`Igen`"s are not the ~~droids~~ currents you are looking for.
The `Igen` you accessed is this `Igen` in the diode model:

    # diode model
    #  *-->--*--->---*--Rs->-Icell--+
    #  ^     |       |              ^
    #  |     |       |              |
    # Igen  Idiode  Ishunt         Vcell
    #  |     |       |

[2020-11-24 00:56] abooda1981 commented on #137
Hi @adambgnr , thanks for your input. Without wanting to spoil your Star Wars meme, I'm fairly sure that the Igen is what I want--in a later part of the code, I take all of the cells in a given string and define the current of the string to be the lowest current in that string. I am assuming that this lowest current is the one which is actually contributed to the module. (If this sounds off, pleas

[2020-12-09 17:30] chetan201 commented on #135
@mikofski I started a GitHub discussions for this repo. Do you think it addresses this issue?

[2020-12-09 22:25] #135 closed

[2020-12-20 08:41] PyroStadlin opened #139 "Question about gen_coeffs.gen_two_diode"
I wanted to ask you a last question regarding PVMismatch. I do not really understand the Output of gen_coeffs.gen_two_diode, which is:

[code]
Can I find the values which I need (Isat1, Isat2, Rs and Rs) in this output ?  or  after using the gen_coeffs.gen_two_diode where can I find the parameters needed for the 2 diode model ?

[2021-01-13 17:50] mikofski opened #140 "Fix failing builds: python 2.7 is failing on travis CI & TravisCI.org is about to stop service anyway"
Here's how it looks in the docs and README:
![image](https://user-images.githubusercontent.com/1385621/104489433-7ad8ba80-5584-11eb-9ed3-64a35dc85251.png)

Follow the link: https://travis-ci.org/github/SunPower/PVMismatch, and you see it's the Python-2.7 build that fails. Has PVM officially dropped Py2?

And anyway, there's this alert from TravisCI.org:
![image](https://user-images.githubuserconte

[2021-01-14 19:13] chetan201 commented on #140
@mikofski I took a look and couldn't find any obvious reasons why Py27 should fail. If Azure pipelines is easy to migrate to, I also support the idea. What do you think about Github actions?
A cursory search landed me here - https://docs.github.com/en/free-pro-team@latest/actions/guides/about-continuous-integration

[2021-01-14 19:42] chetan201 commented on #139
@PyroStadlin
gen_coeffs returns this tuple -> (isat1, isat2, rs, rsh), sol
which is what you are looking for to use the 2 diode model.

As for the non-convergence, as I communicated over email - it's most likely an issue of Python, Numpy or Scipy package version mismatch. Please try matching the requirements I shared or the ones in the repo.

Also, I'd encourage you to please move this issue to Di

[2021-01-14 19:42] #139 closed

[2021-01-14 19:53] kanderso-nrel commented on #140
Looks like the `dulwich` dependency is the culprit.  Per https://www.dulwich.io/docs/#supported-versions-of-python, they dropped support for python 2.7 starting in `0.20`.  The [failed build](https://travis-ci.org/github/SunPower/PVMismatch/jobs/741997843#L385) installs `0.20.2` while the [last passing build](https://travis-ci.org/github/SunPower/PVMismatch/jobs/689364938#L460) installed `0.19.16`

[2021-01-16 00:27] mikofski commented on #139
Please see [discussion](https://github.com/SunPower/PVMismatch/discussions/143) https://github.com/SunPower/PVMismatch/discussions/143

[2021-03-01 16:41] lp74 commented on #122
Hu @mikofski,

would it be possible to have help with this standard configuration? I am not sure.

![pv-multi-si-c](https://user-images.githubusercontent.com/18628037/109527050-87bd5900-7ab3-11eb-95de-c8eea49c88cd.jpg)

[2021-03-01 19:48] mikofski commented on #122
Hi @lp74 , This question might be better for GitHub's new [discussions](https://github.com/SunPower/PVMismatch/discussions) feature. heck out the [Q&A discussion](https://github.com/SunPower/PVMismatch/discussions/145) I started on this topic. Let me know over there if my comments help or not. Thanks!

[2021-03-02 13:49] lp74 commented on #122
thank you very much